<div class="card p-2 mb-3 text-center">
  <img class="card-img-top" src="{{ movieItem?.hinhAnh }}" alt="ad" />
  <div class="card-body">
    <h4 class="card-title">{{ movieItem?.tenPhim | uppercase }}</h4>
    <p class="card-text lead">
      {{ movieItem?.moTa.substr(0, 60) + "..." | lowercase }}
    </p>
    <p class="card-text">
      {{ movieItem?.ngayKhoiChieu | date: "dd/MM/yy - mm:hh" }}
    </p>
    <button class="btn btn-success" [routerLink]="'/detail/' + movieItem.maPhim">
      Đặt vé
    </button>
  </div>
</div>
